<div class="container">
  <div class="row">
    <div class="col m3">
    </div>
          <div class="col m6">
            <div class="card">
              <div class="card-image">
                <img src="{{movie.img}}" alt="{{movie.title}}">
              </div>
              <div class="card-content">
                <p>Director: {{movie.director}}</p>
                <p>Released: {{movie.year}}</p>
                <p>Genre: {{movie.genre}}</p>
                <p>Watched: {{movie.watched}}</p>
              </div>
              <div class="card-action">
                <a href="/{{movie.id}}/edit">Edit</a>
                <a href="/{{movie.id}}/delete">Delete</a>
              </div>
            </div>
          </div>
    <div class="col m3">
    </div>
  </div>
</div>
