<p>Here's all the info we have on</p>{{movie.title}}
<a href="/new">Add a new attribute to this movie</a>
<h2>Movie Info</h2>
<h4>{{movie.title}}</h4>
<p>Director: {{movie.director}}</p>
<p>{{movie.year}}</p>
<p>Genre: {{movie.genre}} Andrew seen this movie?{{movie.watched}}</p>
